body{
    background-image: url(./Images/Reflection.jpg);
    background-position: top center ;
    background-size: cover;

    font-family: 'Nanum Myeongjo', serif;
}
button{
    border-radius: 0px 8px 8px 0px;
    background-color: rgba(29, 51 , 58, .80);
    padding: 2px;
    margin-left: -8px;
    margin-top: 4rem;
}
button:hover{
    text-transform: uppercase;
}
#pick_me{
    border-style: inset;
    border-color: black;
    border-width: 2px;
    background-image: url(./Images/TheGirlsEdited.jpg);
    background-size: cover;
    margin-top: -6.7rem;
    margin-left: -6px;
    padding-right: 2px;

}
fieldset{
    background-color: rgba(29, 51 , 58, .55);
}

button p{
    color: white;
    font-size: 12px;
    margin-top: 0em;
    margin-right: 0em;
    margin-left: 0em;
    padding: 0em;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

button.content__open{
    margin-left: 40%;
}

textarea::placeholder{
    color: black;
    font-weight: 700;
    font-family: 'Nanum Myeongjo', serif;
    line-height: 2;
   
}
#email::placeholder{
    color: black;
    font-weight: 700;
    font-family: 'Nanum Myeongjo', serif;;
}
.accordian form{
    color: white;
    padding-left: 2rem;
    padding-right: 14rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
   
}
.accordian__content{
    display: none;
    overflow: auto;
}

.accordian__content__open{
    display: block;
    max-width: 40%;
}
nav{
    margin-top: 19em;
    margin-left: -8px;
    margin-right: -8px;
    background-color: rgba(141, 86, 106, .80); 
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
nav a{ 
    color: white;
    text-align: center;
    text-decoration: none;  
    margin: 4em;
    font-weight: 800;
    font-size: 20px;
 }
 nav a:hover{
    text-transform: uppercase;
 }
.imgcontainer img{
    margin-top: 12px;
    width: 235px;
}
Section{
    display: inline-flex;
    margin-left: -8px;
    margin-right: -8px;
    color: white;
    margin-top: 10rem;
    background-color: rgba(141, 86, 106, .80); 
}
section h3{
     
    padding-left: 1rem;
    padding-right: 1rem;
}
section p{
    padding-left: 1rem;
    padding-right: 1rem;
}
footer p.acceptyall{
    margin-top: 10rem;
    margin-left: -8px;
    margin-right: -8px;
    padding: 1rem;
    background-color: rgba(141, 86, 106, .80); 
    color: white;
    display: flex;
    justify-content: center;
}
footer p.ggDesign{
    margin-left: -8px;
    margin-top: 16em;
    font-size: 11px;
    color: white;
}
@media (max-width: 1087px){
   nav a{
        margin: 2em;
    }
}
@media (max-width: 800px){
    nav a{
        margin: 1.75em;
    }
}
@media (max-width: 745px){
    .imgcontainer img{
        width: 175px;
    }
}
@media (max-width: 690px){
    .imgcontainer img{
        width: 100px;
    }
    nav a{ 
        margin: 1em;
    }
}
@media (max-height: 634px) and ( max-height:1240){
    body{
        background-image: center center;
    }
    button{
        margin-top: 2rem;
    }
    nav{
        margin-top: 8rem;
    }
}