body{
    background-image: url(../Images/BlueSky.jpg);
    background-position: top center ;
    background-size: cover;
    font-family: 'Nanum Myeongjo', serif;
}
nav{
    margin-top: 28em;
    margin-left: -8px;
    margin-right: -8px;
    background-color: rgba(141, 86, 106, .80); 
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
nav a{ 
    color: white;
    text-align: center;
    text-decoration: none;  
    margin: 4em;
    font-weight: 800;
    font-size: 20px;
 }
 nav a:hover{
    text-transform: uppercase;
 }
.imgcontainer img{
    margin-top: 12px;
    width: 235px;
}
/* Long term, I kinda see "The Tales" down the left side here, transitioned smoothly from wherever the sticky nav on the homepage fell when the user chooses to navigate to the page.  Not sure where I'll move submit--so I'll probably keep it all formatted as is for the time being.  For now, I'll work on the homepage navigation--sticky to the bottom when submit is pressed, sticky to the top when scrolling down.
*/
/*  I know that I want the styling for the tales to kinda be like tetrised in.  If possible, I might look for an opportunity to keep them vaguely portrait (for smaller screens), all with borders, and have them flexbox.  For orphan flexboxes, I could either change the formatting to fit the screen horizontally or I could just build a flexbox system that tends towards fitting?  center-aligned tetris?  */